@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --cor-principal: #f6f5ff;
    --cor-modobt: #ddd;
    --cor-nav: #fff;
    --cor-textnav: #707070;
    --cor-rosa: #e4e;
    --cor-amare: #edb61d;
    --cor-dark: #18191a;
}
body{
    background-color: var(--cor-principal);
    height: 100vh;
    transition: all 0.2s ease-in;
}

header{
    display: flex;
    margin: 15px;
    align-items: center;
}
.menu{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 270px;
    background: var(--cor-nav);
    transition: all 0.2s ease-in;
}

.Img .logo img{
    width: 55px;
    border-radius: 5px;
} 

.nav-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-texto span {
    font-weight: 700;
    color: #707070;
}

.nav-texto p {
    font-weight: 700;
    margin: 0px 25px;
    color: #707070;
}

.arrow{
    display: flex;
    align-items: center;
    height: 30px;
    width: px;
    font-size: 25px;
    position: absolute;
    top: 30px;
    right: -11px;
    background: #e4e;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.pesquisar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 15px 30px;
    height: 100%;
    cursor: pointer;
    background:var(--cor-principal);
    height: 50px;
    width: 255px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.pesquisar span i {
    font-size: 20px;
    color: var(--cor-textnav);
    margin: 15px;
}

.pesquisar input {
    height: 100%;
    width: 240px;
    background: var(--cor-principal);
    padding: 10px;
    border: none;
    outline: none;
}

.paginas{
    margin: 5px 10px ;
    cursor: pointer;
}
.paginas li{
    display: flex;
    align-items: center;
    list-style: none;
    height: 40px;
    margin-top: 10px;
}

.paginas li span i{
    min-width: 80px;
    font-size: 20px;
    padding: 15px 0px;
    color: var(--cor-textnav);
    margin-left: 15px;
}
.paginas a{
    text-decoration: none;
    color: var(--cor-textnav);
    font-weight: 600;
}

.paginas li:hover {
    background: #e4e;
    color: var(--cor-amare);
    width: 240px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transform: translateX(19px);
    transition: all 0.5s ease-in-out;
}

.modo {
    margin: 20px 25%;
    display: flex;
    align-items: center;
    width: 158px;
    height: 40px;
    border-radius: 15px;
    color: var(--cor-textnav);
    background-color: var(--cor-principal);
}
.modo .btn_mode{
    display: flex;
    align-items: center;
    width: 40px;
    height: 22px;
    border-radius: 22px;
    background-color: black;
    margin-left: 15px;
}

.modo .btn_mode .bt_mode{
    position: absolute;
    margin-left: 2px;
    width: 20px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.modo  .light{ 
    opacity: 0;
}
.modo .dark{
    opacity: 1;
    margin-left: 10px;
}

/*---------------Animaçao do Menu------------------*/
.Close{
    width: 88px; 
    transition: all 0.4s ease-in-out;
}
.Close .nav-texto{
    opacity: 0;
}
.Close .ps{
    opacity: 0;
}
.Close a{
    opacity: 0;
}
.Close .dark_text{
    opacity: 0;
}
.Close .light{
    opacity: 0;
}
.Close .btn_mode{
    background-color: black;
    transform: translateX(-80px);
    cursor: pointer;
}
.Close .modo{
    display: flex;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 25px;
    margin-top: 5px;
}
.Close .modo .bt_mode{
    background-color: black;
}
.Close .pesquisar{
    width: 70px;
}

.Close .dark{
    display: none;
}

.Close .paginas li:hover {
    background: #e4e;
    color: var(--cor-amare);
    width: 60px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transform: translateX(19px);
    transition: all 0.5s ease-in-out;
}
.Close .arrow{
    transform: translateY(-50) rotate(180deg);
    transition: all 0.4s ease-in-out;
}

.Close .arrow{
    transform: rotate(180deg);
}
/*-----------------Modo----------------*/
.Dark .menu{
    background-color: var(--cor-dark);
    color: var(--cor-nav);
    transition: all 0.2s ease-in-out;
}
.Dark{
    background-color: var(--cor-dark);
    color: var(--cor-nav);
    transition: all 0.2s ease-in-out;
}
.Dark .modo p{
    font-weight: 300;
    color: #fff;
}
.Dark .menu .nav-texto  span {
   color: #fff;
}
.Dark .menu .nav-texto p {
    color: #fff;
 }
 .Dark .menu .paginas li i{
    color: white;
 }
 .Dark .menu .paginas li a{
    color: white;
 }
.Dark .btn_mode{
    background-color: #18191a;
 }
 .Dark .bt_mode{
    transform: translateX(16px);
    transition: all 0.2s ease-in-out;
 }

/*-----------------HOME----------------*/

.main{
    position: relative;
    left: 290px;
    height: 100vh;
    width: calc(100% - 290px);
    color: var(--cor-textnav);
    transition: all 0.2s ease-in-out;
}
.Close ~ .main{
    left: 130px;
    width: calc(100% - 90px);
    transition: all 0.2s ease-in-out;
}

.Close ~ .main .text_home{
    transform: translateX(-40px);
}
.Dark  .Home .text_home{
    color: white;
}
.text_home{
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}
.Home .Grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.Home .Grid .dizeres{
    background: var(--cor-textnav);
    color: white;
    margin-top: 10px;
    width: 300px;
    height: 420px;
    padding: 2rem 1rem 2.5rem;
    text-align: justify;
    border-radius: 2rem;
}

.Home .Grid .dizeres:hover{
    transform: scale(1.05);
    border: .5rem solid #e4e;
    transition: 0.5s ease-in-out;
}
.Home .Grid .dizeres .text_h2{
    text-align: center;
}
.Home .Grid .dizeres .text_h4{
    text-align: center;
}
.Home .Grid .dizeres .text_p{
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    /*Color reticencias na frase*/
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Home .Grid .dizeres .text_btn {
    width: 200px;
    height: 30px;
    margin: 10px 30PX;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.Home .Grid .dizeres .text_btn:hover {
    background: inherit;
    cursor: pointer;
    color: var(--cor-principal);
}

/*-----------------ADMINISTRAÇÃO----------------*/

.administracao_block{
    margin: 10px;
    padding: 10px;
    position: relative;
}
.administracao_text{
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}
.financas_text .fin{
    transform: translateY(5px);
    cursor: pointer;
    color: black;
    font-size: 30px;
}
.administracao_block .financas{
    margin: 60px 5px;
}

.administracao_block .bloco_fina span{
    margin-right: 550px;
}
.administracao_block .bloco_fina span li{
    position: relative;
    left: 150px;
    top: -65px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    list-style: none;
    width: 120px;
    font-weight: 700;
}
.bloco_fina .open{
    display: flex;
    flex-direction: column;
}
.bloco_fina .open .entradas{
    align-items: center;
    cursor: pointer;
    background-color: #18191a;
    color: white;
    padding: 15px;
    height: 25px;
    border-radius: 25px;
}
.bloco_fina .open .entradas:hover{
    background-color: #18191aac;
    color: aliceblue;
}

.bloco_fina .open .saidas{
    align-items: center;
    cursor: pointer;
    background-color: #18191a;
    color: white;
    padding: 15px;
    height: 25px;
    border-radius: 25px;
}
.bloco_fina .open .saidas p{
    transform: translateX(15px);
}

.bloco_fina .open .saidas:hover{
    background-color: #18191aac;
    color: aliceblue;
}

.modal_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #322f298e;
    backdrop-filter: blur(7px);
    display: none;
}

.modal_container .modal{   
    background-color: #f6f6f9d3;
    width: 1200px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal h4{
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: black;
}
.modal .X{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-top-right-radius: 10px;
    top: 0px;
    left: 1160px;
    color: black;
    font-weight: 700;
}
.modal .X:hover{
    background: red;
    color: white;
    transition: all 0.2s ease;
}
.Container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
}
.Container .diversifica{
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    margin: 40px 20px;
}
.Container .diversifica:hover{
    transform: scale(1.05);
    transition: all 3rem ease;
}
.diversifica .valor h3{
    font-size: 15px;
    font-weight: bolder;
    color: black;
    margin: 5px;
}
.diversifica .valor h1{
    font-weight: bolder;
    color: black;
}
.diversifica .progesso svg{
    margin-top: 10px;
    width: 7rem;
    height: 7rem;
    transform: translateX(10px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}
.diversifica .progesso svg circle{
    fill: none;
    stroke: #111e88;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}
.diversifica .totla svg circle{
    stroke-dasharray: 270;
    stroke-dashoffset: -3;
}
.diversifica .ve svg circle{
    stroke-dasharray: 200;
    stroke-dashoffset: -160;
}
.diversifica .bo svg circle{
    stroke-dasharray: -10;
    stroke-dashoffset: 76;
}
.diversifica .as svg circle{
    stroke-dasharray: 270;
    stroke-dashoffset: -148;
}
.diversifica .sb svg circle{
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
}
.diversifica  .percentagem {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.diversifica  .percentagem p{
    width: 100%;
    height: 100%;
    transform: translateY(-86px);
}
.administracao_block .entradas_text{
    
}

.Rh .Rh_block{
    position: absolute;
    top: 83px;
    left: 400px;
    display: flex;
    padding: 15px;
    margin-top: 10px;
}

.rh_diversos .diversos {
    position: relative;
    display: flex;
    width: 170px;
    top: -52px;
    margin-top: 20px;
    font-weight: 700;
    padding: 7px;
    cursor: pointer;
    background-color: #18191a;
    color: white;
    border-radius: 25px;
}
.rh_diversos .diversos:hover{
    background-color: #18191aac;
    color: aliceblue;
}
.rh_diversos .diversos .rc{
    transform: translateX(10px);
}
.rh_diversos .diversos .dc{
    transform: translateX(25px);
}
.rh_diversos .diversos .fc{
    transform: translateX(53px);
}
.rh_diversos .diversos .sg{
    transform: translateX(64px);
}
.rh_diversos .diversos .rm{
    transform: translateX(15px);
}

.rh_diversos .documento {
    cursor: pointer;
    position: absolute;
    top: 24px;
    left: 290px;
    margin: 5px;
    width: 100px;
}
.rh_diversos .documento p{
    background: black;
    margin: 2px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 100px;
}
.rh_diversos .fac {
    cursor: pointer;
    position: absolute;
    top: 86px;
    left: 290px;
    margin: 5px;
    width: 100px;
}
.rh_diversos .fac p{
    background: black;
    margin: 2px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 110px;
}
.rh_diversos .seguro {
    cursor: pointer;
    position: absolute;
    top: 140px;
    left: 290px;
    margin: 5px;
    width: 100px;
}
.rh_diversos .seguro p{
    background: black;
    margin: 2px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 110px;
}

.Rh .Rh_block{
    display: flex;
}

.Rh .Rh_text{
    margin-right: 30px;
}