@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --cor-principal: #f6f5ff;
    --cor-modobt: #ddd;
    --cor-nav: #fff;
    --cor-textnav: #707070;
    --cor-rosa: #e4e;
    --cor-amare: #edb61d;
}
body{
    background-color: var(--cor-principal);
    height: 100vh;
}

header{
    display: flex;
    margin: 15px;
    align-items: center;
}
.menu{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 270px;
    background: var(--cor-nav);
}
.Img .logo img{
    width: 55px;
} 

.nav-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-texto span {
    font-weight: 700;
    color: #707070;
}

.nav-texto p {
    font-weight: 700;
    margin: 0px 25px;
    color: #707070;
}

.arrow{
    display: flex;
    align-items: center;
    height: 30px;
    width: px;
    font-size: 25px;
    position: absolute;
    top: 30px;
    right: -11px;
    background: #e4e;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.pesquisar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 15px 30px;
    cursor: pointer;
    background:var(--cor-principal);
    height: 50px;
    width: 255px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.pesquisar span i {
    font-size: 30px;
    color: var(--cor-textnav);
}

.pesquisar input {
    height: 30px;
    width: 200px;
    padding: 10px;
    border: none;
    outline: none;
}

.paginas{
    margin: 5px 20px ;
    cursor: pointer;
}
.paginas li{
    display: flex;
    align-items: center;
    list-style: none;
    height: 40px;
    margin-top: 10px;
}

.paginas li span i{
    min-width: 80px;
    font-size: 30px;
    padding: 15px 0px;
    color: var(--cor-textnav);
    margin-left: 5px;
}
.paginas a{
    text-decoration: none;
    color: var(--cor-textnav);
    font-weight: 600;
}

.paginas li:hover{
    background: #e4e;
    color: var(--cor-amare);
    width: 230px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transform: translateX(19px);
}

.modo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #707070;
    color: ;
    width: 150px;
    height: 30px;
    margin: 15px 55px;
    border-radius: 25px;
}
.modo span{
    font-size: 25px;
    margin: 0px 5px ;
}
.modo .btn{
    font-size: 39px;
    transform: translateY(3px);
    margin-left: 10px;
}
